body{
    width: 100vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.username{
    color:var(--ternary);
}

.profile-form {
    
    box-sizing: border-box;
    width: 500px;
    background-color: var(--bg-slow);
    display:flex;
    flex-direction: column;
    gap:10px;
    padding:20px;
    border-radius: 20px;
    box-shadow: 0 2px 2px rgb(44, 41, 41);  

}

.profile-form > div > label{
    color:var(--bg-default);
}

.profile-form > div > input{
    height: 2ch;
    padding:10px;
    border-radius: 20px;
    border: 1px solid var(--bg-slow);
}

.profile-form > div > button{
    padding: 10px;
    background-color: var(--bg-intense);
    border: none;
    offset: none;
    border-radius: 10px;
    color:white;
    font-weight: 600;
    width: 100px;
    box-shadow: 0 2px 3px var(--ternary);
}

.divbtns{
    display:flex;
    flex-direction:row !important;
}
#annuler{
    background-color: var(--ternary) !important;
    color:white;
}

.profile-form > div{
    display:flex;
    flex-direction: column;
    gap:10px;
}