<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/navbar.css'%}">
    {% block head%}
    {% endblock%}
    
</head>
<body>
    {% if user.is_authenticated%}
    <nav>
        <a id="sss" href="/victories">Home</a>
        <a href="/victories">Victories</a>
        <a href="/profile">Profile</a>
        <a href="logout">Logout</a>
    </nav>
    {% else %}
    <nav>
        <a id="sss" href="/">Home</a>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    </nav>
    {% endif %}
    {% block content %}

    {% endblock %}
    
</body>
</html>