{% extends "base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'styles/form_login.css' %}">
    <title>Document</title>
{% endblock %}
{% block content %}
    <div class="title_container">
        <h1 id="title">Register</h1>
        <div class="separator"></div>
    </div>
    <form class="form_login" method="post">
        {% csrf_token %}
        <div>
            {{ form.username.errors }}
            {{ form.username.label_tag }}
            {{ form.username }}
        </div>
        <div>
            {{ form.email.errors }}
            {{ form.email.label_tag }}
            {{ form.email }}
        </div>
        <div>
            {{ form.password.errors }}
            {{ form.password.label_tag }}
            {{ form.password }}
        </div>
        <button type="submit">Submit</button>
    </form>
{% endblock %}

