{% extends "base.html" %}
{% load static %}
{% block head%}
<link rel="stylesheet" href="{% static 'styles/victories.css' %}">
{%endblock%}

{% block content %}

<div class="searchbarcontainer">
    <form class="searchbar" method="GET" action="">
        
        <input placeholder="rechercher..." name="search" />
        <button> Rechercher </button>
    </form>    
</div>
<div class="victorycontainer">
    {% for victory in victories %}
    <div class="victorycard">
        <div class="cardtitle">@{{victory.user}}</div>
        <div class="cardcontent">{{victory.content}}</div>
        <div class="carddate">{{victory.date}}</div>
    </div>
   
{% endfor %}
</div>

{% endblock %}